<div class="container">
  <div class="sideBar">
      <div *ngFor="let word of testedWords.reverse(); let i=index">
        <span class="number">{{testedWords.length-i}}</span>
        <span>{{word}}</span>
      </div>
  </div>
  <div class="content-container">
    <div class="input-container">
      <textbox title="Mot" color="light" (keydown.enter)="testMot()" (inputEvent)="updateInput($event)"></textbox>
      <button class="button-red-1" (click)="testMot()">Tester</button>
    </div>
    <div class="text-container">
      <div #titleId class="title"><span class="hide" *ngFor="let item of titleItems">{{item.lenght}}</span></div>
      <div #textId class="text"><span class="hide" *ngFor="let item of mainItems">{{item.lenght}}</span></div>
    </div>
    <div class="carrousel-container">
      <carrousel></carrousel>
    </div>
  </div>
</div>
