.container{
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sideBar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;
  flex-basis: 250px;
  background-color: #EDF2F4;
  box-shadow: 7px 0px 15px rgba(0,0,0,0.25);
}

.content-container{
  display: flex;
  flex-direction: column;
  flex-basis: fit-content;
  padding: 25px 45px;
  box-sizing: border-box;
  gap:50px;
}

.input-container{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.number{
  display: inline-block;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-weight: bold;
  margin-right: 0.2rem;
  border-radius: 15px;
  height: 1.8rem;
  width: 30px;
  aspect-ratio: 1;
  text-align: center;
}

.title{
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  color : #D90429;
  margin-bottom: 15px;
}

.title span{
  height: 2rem;
}

.text{
  display: flex;
  flex-wrap: wrap;
  color:#2B2D42;
  width: 100%;
}

span{
  margin: 7px 3px;
}

span.hide{
  background-color: #2B2D42;
  color: #2B2D42;
  border-radius: 3px;
  text-align: center;
  height: 1.5rem;
  transition: color 150ms ease-in;
}

span.hide:hover{
  color: #EDF2F4;
}

.span.show{
  width: initial;
  color: inherit;
  background-color: blue;
}

span.show:hover{
  color:inherit;
}

