<div class="container">
  <div class="sideBar">
  </div>
  <div class="content-container">
    <div class="input-container">
      <textbox title="Mot" color="light"></textbox>
      <button class="button-red-1">Tester</button>
    </div>
    <div class="text-container">
      <div class="title">Comment écrire une histoire d’amour.</div>
      <div class="text">La partie la plus excitante dans le fait de tomber amoureux est souvent le début d'une romance, la rencontre fortuite et parfois amusante avec l'être aimé, l'insouciance et la joie qu'accompagnent la réalisation que cette attirance est mutuelle, le confort et la sécurité de pouvoir se reposer sur une autre personne et construire une vie à deux, etc. Gardez tous ces aspects en tête lorsque vous commencerez à écrire votre histoire d'amour. Car le plus important, au-delà de vos personnages, intrigues et style d'écriture, sera de captiver votre lecteur et de le rendre aussi impatient que vos héros à l'idée de cet amour naissant.</div>
    </div>
    <div class="carrousel-container">
      <carrousel></carrousel>
    </div>
  </div>
</div>
