<div class="page">
  <header>
    <logo-wiki-hoax (click)="activateMain()"></logo-wiki-hoax>
    <div class="btn-container">
      <header-button icon="classement" title="Classement" (click)="activateClassement()"></header-button>
      <header-button icon="partie" title="Partie" (click)="activatePartie()"></header-button>
      <user-button (click)="activateUser()"></user-button>
    </div>
  </header>
  <section *ngIf="section=='partie'">
    <game-page></game-page>
  </section>
  <section *ngIf="section=='classement'">
    <p>classement</p>
  </section>
  <section *ngIf="section=='main'">
    <p>main</p>
  </section>
  <section *ngIf="section=='user'">
    <p>user</p>
  </section>
</div>
